@model  IEnumerable<Hamscoffee.Models.cart>

@{
    int soluong = 0;
    if(Model==null)
    {
        soluong = 0;
    }
    else
    {
        foreach (var item in Model)
        {
            soluong += item.iQuantity;
        }
    }
   
}
<li>@Html.ActionLink("Giỏ hàng (" + @soluong + ")", "Cart", "Cart")</li>
